version: "3.9"
services:
  postgis:
    image: postgis/postgis:16-3.4
    container_name: healthlakes_postgis
    environment:
      POSTGRES_DB: maps
      POSTGRES_USER: maps_user
      POSTGRES_PASSWORD: maps_pass
    ports:
      - "5433:5432"
    volumes:
      - postgis_data:/var/lib/postgresql/data

  minio:
    image: minio/minio:RELEASE.2024-08-17T01-24-54Z
    container_name: healthlakes_minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  postgis_data:
  minio_data:
